In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt

In [2]:
titles = pd.read_csv("../raw_data/titles.csv", converters={'genres': pd.eval, 'production_countries': pd.eval})
credits = pd.read_csv("../raw_data/credits.csv")

In [3]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [4]:
titles.isna().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [5]:
credits.isna().sum()

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

In [6]:
titles = titles.explode('genres')

In [7]:
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,documentation,[US],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,drama,[US],NaN,tt0075314,8.2,808582.0,40.965,8.179
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,crime,[US],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,drama,[US],NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,action,[US],NaN,tt0068473,7.7,107673.0,10.010,7.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,comedy,[CO],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,NaN,[US],NaN,NaN,NaN,NaN,1.296,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,family,[],1.0,tt13711094,7.8,18.0,2.289,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,animation,[],1.0,tt13711094,7.8,18.0,2.289,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,comedy,[],1.0,tt13711094,7.8,18.0,2.289,10.000

#### Do you prefer movies or tv shows?

In [17]:
movie_or_tv = "MOVIE"
titles = titles[titles["type"]==movie_or_tv]

#### what genre of movie do you prefer?

In [8]:
genres = list(titles["genres"].unique())
genre_choice = [genres[7]]

In [10]:
genres

['documentation',
 'drama',
 'crime',
 'action',
 'thriller',
 'european',
 'fantasy',
 'comedy',
 'war',
 'romance',
 'western',
 'history',
 'music',
 'family',
 'horror',
 'scifi',
 'animation',
 'reality',
 'sport',
 nan]

In [19]:
titles_filtered = titles[titles["genres"].isin(genre_choice)]

#### Do you prefer movies made in the 21st or 20th century?

In [20]:
answer_1 = "yes"

if answer_1 == "yes":
    titles_filtered = titles_filtered[tittitles_filteredles["release_year"]>=2000]
else:
    titles_filtered = titles_filtered[titles_filtered["release_year"]<2000]

NameError: name 'tittitles_filteredles' is not defined

#### Choose your favourite show out of the following options

In [21]:
choices = list(titles_filtered.sort_values("imdb_score", ascending=False).iloc[:50]["title"])

In [22]:
choices = list(dict.fromkeys(choices))[:20]

In [23]:
choices

['Kannathil Muthamittal',
 'Full Metal Jacket',
 'Virunga',
 'The Imitation Game',
 'The Last Days',
 'Dunkirk',
 'Lakshya',
 'Beasts of No Nation',
 'The Dirty Dozen',
 'Saladin the Victorious',
 'West Beirut',
 'Sir! No Sir!',
 'Mobile Suit Gundam III: Encounters in Space',
 'Jodhaa Akbar',
 'City of Joy',
 'Image of Victory',
 'Omar',
 'Les Misérables',
 'The Guns of Navarone',
 'Berserk: The Golden Age Arc I - The Egg of the King']

In [24]:
answer = choices[2]

In [26]:
answer

'Virunga'

In [29]:
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,drama,[US],NaN,tt0075314,8.2,808582.0,40.965,8.179
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,crime,[US],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,drama,[US],NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,action,[US],NaN,tt0068473,7.7,107673.0,10.010,7.300
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,thriller,[US],NaN,tt0068473,7.7,107673.0,10.010,7.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,romance,[NG],NaN,tt13857480,6.8,45.0,1.466,NaN
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,drama,[NG],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,drama,[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,comedy,[CO],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,NaN,[US],NaN,NaN,NaN,NaN,1.296,10.000

### Tidying titles data
#### drop row with *NaN* value for title

In [ ]:
titles = titles.dropna(subset=["title"])

#### Imput imdb scores

In [ ]:
impute_columns = ["imdb_score", "tmdb_popularity", "tmdb_score"]
impute_df = titles[impute_columns]

In [ ]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
titles[impute_columns] = imp_mean.fit_transform(impute_df)

#### Drop columns age_certification and seasons

In [ ]:
titles = titles.drop(columns=["age_certification", "seasons", "imdb_id", "imdb_votes"])

#### Drop rows which have empty list in genres column

In [ ]:
titles = titles[titles.genres.str.len() != 0]

#### Drop rows which have no country

In [ ]:
titles = titles[titles.production_countries.str.len() != 0]

#### Scale numeric columns

In [ ]:
numeric_columns = titles.select_dtypes(include=np.number)

In [ ]:
numeric_columns

In [ ]:
column_names_numeric = numeric_columns.columns

In [ ]:
scaler = StandardScaler()
titles[column_names_numeric] = scaler.fit_transform(numeric_columns)

#### Create a new row for each genre

In [ ]:
titles = titles.explode('genres')
titles = titles.explode('production_countries')

#### One Hot Encoder

In [ ]:
ohe_list = ["type", "genres", "production_countries"]
ohe_df = titles[ohe_list]
titles = titles.drop(columns=ohe_list)

In [ ]:
ohe = OneHotEncoder(sparse=False)
ohe.fit(ohe_df)
titles[ohe.get_feature_names_out()] = ohe.transform(ohe_df)

In [ ]:
X = titles.drop(columns=["title", "description", "id"])
y = titles[["title"]]

# Sample questions

#### Using KNN to decide which shows are closest

In [ ]:
X

In [ ]:
knn_model = KNeighborsRegressor().fit(X,y)

In [ ]:
X_new = X.iloc[titles[titles["title"]==answer].index.values]

In [ ]:
positions = knn_model.kneighbors(X_new,n_neighbors=20)[1]

In [ ]:
for position in positions[0]:
    print(position)

In [ ]:
list_titles = []
number_rounds = 0
for position in positions[0]:
    if number_rounds < 6:
        if titles.iloc[position]["title"] not in list_titles:
            print(titles.iloc[position]["title"])
            list_titles.append(titles.iloc[position]["title"])
            number_rounds += 1

In [ ]:
list_titles[1:]